html{font-size: 62.5%;}

*{margin: 0;
padding: 0;
}

body{
    font-family: 'roboto mono', monospace;
    color: rgb(79, 99, 136);
    background-color: black;
} 

.logo1 {
    height: 10rem;
    width: 10rem;
    margin: 3rem;
}
.padrelogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

header{
    background-image: url(../multimedia/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1rem;
}

h1 {
    color: grey;
    font-family: 'roboto mono', monospace;
    font-size: 5rem;
    text-align: center;
}

.menu3{
    display: flex; 
    flex-flow: row wrap;
    color: rgb(223, 160, 43);
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    text-align: right;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: flex-end;
    
}

.tituloproductos {
    color: rgb(223, 160, 43);
    font-family: 'Roboto Mono', monospace;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 4rem;


}
.padredestacados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


}
.productosdestacados{
    width: 30rem;
    height: 20rem;
    padding: 1rem;
}

.cuadro {
    border: solid rgb(223, 160, 43);
    margin: 3rem;
} 
h4 {
    color:rgb(223, 160, 43);
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 4rem;
    font-weight: bolder;

}
a {
    text-decoration: none;
}
.padremapa {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
.google{
    width: 50rem;
    height: 30rem;
    padding: 2rem;
    margin: 2rem 0rem;
}
.padremensaje{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin: 1rem;
}

.enviar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.boton {
    font-size: 4rem ;
}
.padreredes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.imagenredes{
    align-items: center;
    width: 32rem;
    height: 12rem;
}

.link{
    color:rgb(223, 160, 43);
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    margin: 2rem 0rem;
}

.padrefooter{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(223, 160, 43);
}
h6{
    color: black;
    font-size: 1rem;
    text-decoration: underline;
    font-weight: bolder;
    }

.flexbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
h2{
    color: rgb(223, 160, 43);
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
}

.texto{
    color: rgb(137, 163, 155);
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-align: start;
    font-size: 2rem;
    margin: 2rem;

}

.frentebrian{
    width: 50rem;
    height: 30rem; 
    padding: 2rem;
    margin: 2rem 0rem;
}
.texto1{
    color: rgb(137, 163, 155);
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-align: center;
}

h5{
    color: rgb(223, 160, 43);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 2rem;
}

.padresucursales{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/* 
display: flex;
    flex-flow: row wrap;
    align-items: center;


.cuadro{
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    border: solid;
    text-decoration: solid;
    text-align: center;
    
    
    margin: 2rem 10rem 2rem 10rem;

}

}

.cuadro2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    border: solid;
    border-color:rgb(223, 160, 43);
    max-width: 60%;
    text-align: center;
    margin: 4rem 15rem 2rem 15rem;
}

.cuadro1{
    display: flex;
    flex-flow: row wrap;
    border: solid;
    border-color:rgb(223, 160, 43);
    justify-content: center;
    
    text-align: center;
    /* width: 34rem;
    height: 12rem;
    margin: 4rem 10rem 8rem 15rem; 
}



    

h2{
    color: rgb(223, 160, 43);
    text-align: center;
    text-decoration: underline;





}
.cuadro3{
    display: flex;
    flex-flow: row wrap;
    border: solid;
    border-color:rgb(223, 160, 43);
    text-decoration: solid;

} 
 .carnepollo{
    width: 15rem;
    height:15rem;
} 
 
.redes{ 

    height: 10rem;
    width: 30rem;
    margin: 0rem 0rem 0rem 25rem;
    padding: 0rem;
} 
.google1{

    width: 25rem;
    height: 20rem;
    margin: 0rem 0rem 0rem 25rem;
    padding: 0rem;
} 
.padrediv */