html{font-size: 62,5%;}

*{margin: 0;
padding: 0;
}

nav{
    background-image: url(../multimedia/fondo.jpg);
       background-repeat: no-repeat;
    background-size: 100%;
    position: sticky;
    top: 0px;
}
h1{
display: inline-block;
    color: rgb(250, 242, 242) ;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    font-size: 4rem;
   padding-top: 3rem;
   padding-left: 15rem;
}
.logo1 {
    display: inline-block;
    height: 7rem;
    width: 7rem;
    padding-left: 2rem;
    padding-top: 4rem;
}
.menu3{
    display: inline-block;
    padding-left: 10rem;
    
    
}

body{
    
    font-family: 'roboto mono', monospace;
    color: rgb(79, 99, 136);
}

h2{
    display: inline-block;
    border: rgb(223, 160, 43);

}

h3{
    background-color: rgb(63, 128, 128);
}
/* h4 son titylos subrayados */
h4{
    color: rgb(63, 128, 128);
    font-size: x-large;
    text-decoration: underline;
    text-align: center;
}


.contacto{
    background-color: rgb(242, 248, 246) ;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
   text-align: center;
    border-top: 0;

}

.nosotros{
    background-color: rgba(14, 13, 17, 0.678) ;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
   text-align: center;
    border-top: 0;
}

.productos{
    background-color: rgb(137, 163, 155) ;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
   text-align: center;
    border-top: 300;
}
.sucursal{
    background-color: rgb(137, 163, 155) ;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
   text-align: center;
    border-top: 300;
}

.frentebrian{
   display: inline-block;
    width: 40rem;
    height: 25rem;
    margin: 0rem 0rem 0rem 20rem;
    padding: 0rem;
}

.carneavion{
    display: inline-block;
    width: 35rem;
    height: 25rem;
    margin: 0rem 2rem 0rem 0rem;
    padding: 0rem;

}

.vacascaminando{
    display: inline-block;
    width: 35rem;
    height: 25rem;
    
    
}
.redes{ 
    
    display: inline-block;
    height: 10rem;
    width: 30rem;
    margin: 0rem 0rem 0rem rem;
    padding: 0rem;
}

.texto{
    display: inline-block;
    color: rgb(137, 163, 155);
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    text-align: left;

}

.carnepollo{ 
    display: inline-block;
    width: 25rem;
    height: 15rem;

}

.destacados{
    display: inline-block;
   border: rgb(223, 160, 43);
    width: 15rem;
    height: 10rem;
}

.google{
    display: inline-block;
    width: 17rem;
    height: 17rem;
    margin:0rem 0rem 0rem 30rem ;
    padding: 0rem;
}


.imagen{
    display: inline-block;
    width: 5rem;
    height: 3rem;
    margin: 5px 0px 5px 8rem;
    padding: 4px 4px;

}
.cuadro{
        display: inline-block;
    border: solid;
    text-decoration: solid;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    margin: 4rem 15rem;
    padding: 4px 4px;
}
.fondo{
    display: inline-block;
    background-color: rgb(5, 5, 5);

}
.cuadro2{
    display: inline-block;
    border: solid;
    border-color:rgb(223, 160, 43);
    text-decoration: solid;
    margin: 5rem 0rem 5rem 15rem ;
    padding: 4px 4px;
}
.cuadro3{
    display: inline-block;
    border: solid;
    border-color:rgb(223, 160, 43);
    text-decoration: solid;
    margin: 5rem 5rem 5rem 5rem ;
    padding: 4px 4px;
}